{
  background-color: black;
}

#discover {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px
}

h3,
h4,
p{
  color: white;
  text-align: center;
}
.copyright{
text-align: right;}

#top,
#bottom {
  font-size: 16px;
  color: aquamarine;
}
